{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% load static %}

    {% image value.image original as image %}

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{{ image.url }}" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>{% include_block value.heading %}</h4>
              <div class="text-black-50 mb-0">{% include_block value.paragraph %}</div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}